<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="
    /CSS/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<!-- 
<style>
    .a,a{
    color: white !important;
}
.name{
    color: black !important;
}
.head2{
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    background-color: rgb(9, 12, 15);
    height: 10vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ha {
    color: rgb(87, 245, 87);
}

.head {
    font-size: xx-large;
    font: bold;
    font-weight: bold;
}
    @media only screen and (max-device-width: 450px) {
   
   .head{
       font-size: large;
   }

 }
</style> -->

<body>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <!-- Navbar content -->
        <nav class="navbar bg-body-tertiary mainnav">
            <div class="container-fluid main">
                <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->
                <div class="bit">
                    <span class="ha">&lt;</span>
    
                    BiT

                    <span class="ha">RESULTS /&gt;</span>
                </div>
                <!-- <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="http://localhost:8080/results">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:8080/contact">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">SOM</a>
                        </li>
                    </ul>
                    <!-- <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form> -->
                <!-- </div> -->
                <div class="home">
                    <div><a href="http://localhost:8080/results">Home</a></div>
                    <div><a href="http://localhost:8080/contact">About Us</a></div>
                </div>
            </div>
        </nav>
    </nav>

    <!-- <nav class="nav">
        <div class="head">
          <span class="ha">&lt;</span>
    
          BiT
    
          <span class="ha">RESULTS /&gt;</span>
    
    
        </div>
        <div class="head2">
          <div><a href="http://localhost:8080/results">Home</a></div>
          <div><a href="http://localhost:8080/contact">About Us</a></div>
        </div>
      </nav> -->
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>